<!DOCTYPE html>
<html>
  <head>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
    <meta name="theme-color" content="#13e204">
    <title>Success!</title>
    <style>
      body{background-color: lime;}
      p{color:#fff;}</style>
    </head>
  <body>
    <p id="title">Data mine portal</p>
    <center>
      <p>Successfully added the following stage to database</p>
      <p>stage name : <%=data.name %></p>
      <a href="/team/datamine"><button>add another stage</button></a>
    </center>
  </body>
</html>
