<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#333333">
    <title>Home | Team </title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js'></script>
    <style>body{background: rgba(0,0,0,0.1)}</style>
    </head>
  <body>
      <div class="nav-bar">
        <p id="team-header">Dashboard</p>
        <ul class='menu active'>
                <li><a href='#'><p>Dashboard</p></a></li>
                <li><a href='/team/datamine'><p>Data Mine</p></a></li> 
                <li><a href='/auth/logout'><p>Logout</p></a></li>
        </ul>
        <div class="thumb">
            <p> <%=data.username%> </p>
            <i class="fas fa-ellipsis-h"></i>
        </div>
     </div>
     <div class="main-container">
        <div class="latest-uploads">
                <h3>Forum</h3>
                <div class='forum-posts'>
                  <ul id="posts">
                  </ul>
                </div>
                <div class="post-form">
                  <input type="text" id="forum-input" name='forum-msg' placeholder="write new post..."/>
                  <input type="text" style = "display:none" id="user-name" value="<%=data.username%>"/>
                  <button id='forum-post-btn'>Post</button>
                </div>
        </div>
        <div class="all-stages">
                <h3>Data</h3>
        </div>
        <div class="team-list">
                <h3>The Team</h3>
        </div>
     </div>
     <script
     src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
     integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
     crossorigin="anonymous">
     </script>
      <script src="/assets/forum.js"></script>
      <script>
        $(document).ready(function () {
        $('.fa-ellipsis-h').on('click',function(){
          $('.menu').toggleClass('active');
        })
        });
      </script>
     </body>
</html>

 