<!DOCTYPE html>
<html>
  <head>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#333333">
    <title>Home | Team </title>
  </head>
  <body>
      <div class="nav-bar">
        <p id="team-header">Team Portal</p>
     </div>
    <br><br><br><br><br><br><br>
    <a href="/auth/google"><span class="unhide" id="login-with-google"><img src="https://thumb.ibb.co/eknTb8/gg.png" height="30px"with="30px"/> Sign in with Google</span></a>
    <br>
    <p id="hidefrom-team" style="color:#333333">Only Team members can access the Team Portal</p>
    
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <p id="credits">GETMA3 2018</p>
    <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
    crossorigin="anonymous"></script>
    <script src="/assets/index.js"></script>
 </body>
</html>
 