<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#333333">
    <title>Home | Team </title>
    <style>body{background: rgba(0,0,0,0.1)}</style>
  </head>
  <body>
      <div class="nav-bar">
        <p id="team-header">Dashboard</p>
        <div class="thumb">
            <p> Walela </p>
            <i class="fas fa-ellipsis-h"></i>
        </div>
     </div>
     <div class="main-container">
        <div class="latest-uploads">
                <h3>Latest Uploads</h3>
        </div>
        <div class="all-stages">
                <h3>All Stages</h3>
        </div>
        <div class="team-list">
                <h3>The Team</h3>
        </div>
     </div>

 </body>
</html>
 