<!DOCTYPE html>
<html>
  <head>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#333333">
    <title>Home | Team </title>
  </head>
  <body>
      <div class="nav-bar">
        <p id="team-header">Team Portal</p>
     </div>
    <br><br><br><br><br><br><br>
    <a href="/team/dashboard"><span id="login-with-google"><img src="https://thumb.ibb.co/eknTb8/gg.png" height="30px"with="30px"/> Sign in with Google</span></a>
    <p style="color:#333333">Sign in to access the Team Portal</p>
    
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <p id="credits">GETMA3 2018</p>

 </body>
</html>
 