*{margin:0;padding: 0;font-family: sans-serif;}
a{
  text-decoration: none;
  color:inherit;
}

ul{
  list-style: none;
}
body{
  height: 110%;
  text-align: center;
}

form{
  display: inline-block;
  background-color: #fff;
  text-align: center;
  width: 40%;
  min-width: 350px;
  margin: 2em auto;
  padding: 20px;
}

input{
  width:80%;
  margin: 7px auto;
  height: 2.5em;
  display: inline-block;
}

label{
  margin: 10px 0%;
  display: inline-block;
  width: 20%;
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
}

#count{
  text-transform: uppercase;
  font-size: 0.7em;
  margin:5px;
}

#counter{
  font-size: 2em;
  color:rgba(0,0,0,0.3);
}

#refresh{
  display: inline-block;
  border: none;
  padding: 10px;
  margin:3px;
  width: 25%;
  min-width: 70px;
}


#loadCoords{
  width:80%;
  margin: 7px auto;
  height: 2.5em;
  display: inline-block;
}



#coords{
  width: 40%;
  min-width: 350px;
  margin: 0em auto;
  padding: 20px;
  background: #fff;
  height: 50px;
  overflow: hidden;
  text-align: center;
}

#coords:hover{
  transform: all  linear 2s;
 height: 150px;
}

#title{
  width:100%;
  font-weight: 700;
  margin: 1em auto;
  color:#fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
}


#retry{
  width: 20%;
  margin: 4em;
  height: 2em;
  font-size: 2em;
}
#fail{
  font-size:1em;
  margin:2em;
  color:#fff;
}

#credits{
  color:#333;
  font-size: 0.6em;
}

.unhide{
  transition: display ease-out .5s ;
  display: none;
}

.hide-if-team{
  display: none;
}

#login-with-google{
  
  transition: all ease-out .5s ;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  padding: 10px;
  font-size: 1em;
  width: 50%;
  max-width: 250px;
  margin:3em auto;
  color: #333;
}
#team-header{
  font-size: 1.5em;
  float: left;
}
.nav-bar{
  background-color: #fff;
  height: 2em;
  padding:10px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
}

.thumb{
  width: 150px;
  height: 1em;
  padding: 10px;
  text-align: center;
  float: right;
}

.fa-ellipsis-h{
  position: relative;
  font-size: 1.5em;
  float: right;
  bottom:20px;
  animation: pulse linear 2s infinite;
}

.main-container{
  margin:1em 0 10em 0; 
  text-align: center;
  height: 500px;
  width: 100%;
}

  .main-container h3{
    font-weight: 100;
    padding:10px;
    width: 95%;
    color:#333;
  }

.team-list{
  margin:5px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
  display: inline-block;
  height: 500px;
  min-width: 250px;
  width: 20%;
  background-color: #fff;
}


.all-stages{
  margin:5px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
  display: inline-block;
  height: 500px;
  width: 50%;
  background-color: #fff;
}

.all-stages ul{
  padding: 10px;
  margin:auto;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
  width: 80%;
}
.all-stages li{
  text-align: left;
}

.latest-uploads{
  margin:5px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
  display: inline-block;
  height: 500px;
  min-width: 250px;
  width: 20%;
  background-color: #fff;
}

.active{
  display: none;
}

#menu{
  color:#fff;
  border: solid;
  width: 150px;
  height: 100px;
  padding: 10px;
  background: #333;
  position:absolute;
  left:50%;
}

@media screen and (max-width:1000px){
  .team-list{
    display: inline-block;
    height: 500px;
    min-width: 200px;
    width: 95%;
    background-color: #fff;
    margin:5px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
  }
  .all-stages{
    display: inline-block;
    height: 500px;
    min-width: 200px;
    width: 95%;
    background-color: #fff;
    margin:5px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
  }
  
  .latest-uploads{
    display: inline-block;
    height: 500px;
    min-width: 200px;
    width: 95%;
    background-color: #fff;
    margin:5px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
  }
}


















@keyframes pulse{
  0%{transform:scale(1.1)}
  50%{transform: scale(0.8)}
  100%{transform: scale(1.1)}
}