*{margin:0;padding: 0;font-family: sans-serif;}
a{
  text-decoration: none;
  color:inherit;
}

p{
  user-select: none;
}

ul{
  list-style: none;
}
body{
  height: 110%;
  text-align: center;
}

#datamine-form{
  display: inline-block;
  background-color: #fff;
  text-align: center;
  width: 40%;
  min-width: 350px;
  margin: 2em auto;
  padding: 20px;
}

input{
  width:80%;
  margin: 7px auto;
  height: 2.5em;
  display: inline-block;
}

label{
  margin: 10px 0%;
  display: inline-block;
  width: 20%;
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
}

#count{
  text-transform: uppercase;
  font-size: 0.7em;
  margin:5px;
}

#counter{
  font-size: 2em;
  color:rgba(0,0,0,0.3);
}

#refresh{
  display: inline-block;
  border: none;
  padding: 10px;
  margin:3px;
  width: 25%;
  min-width: 70px;
}


#loadCoords{
  width:80%;
  margin: 7px auto;
  height: 2.5em;
  display: inline-block;
}



#coords{
  width: 40%;
  min-width: 350px;
  margin: 0em auto;
  padding: 20px;
  background: #fff;
  height: 150px;
  overflow: hidden;
  text-align: center;
}



#title{
  width:90%;
  font-weight: 700;
  margin: 1em auto;
  color:#fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
}


#retry{
  width: 20%;
  margin: 4em;
  height: 2em;
  font-size: 2em;
}
#fail{
  font-size:1em;
  margin:2em;
  color:#fff;
}

#credits{
  color:#333;
  font-size: 0.6em;
}

.unhide{
  transition: display ease-out .5s ;
  display: none;
}

.hide-if-team{
  display: none;
}

#login-with-google{
  
  transition: all ease-out .5s ;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  padding: 10px;
  font-size: 1em;
  width: 50%;
  max-width: 250px;
  margin:3em auto;
  color: #333;
}
#team-header{
  font-size: 1.5em;
  float: left;
}
.nav-bar{
  background-color: #fff;
  height: 2em;
  padding:10px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
}

.thumb{
  width: 150px;
  height: 1em;
  padding: 10px;
  text-align: center;
  float: right;
}

.fa-ellipsis-h{
  position: relative;
  font-size: 1.5em;
  float: right;
  bottom:20px;
  animation: pulse linear 2s infinite;
}

.main-container{
  margin:1em 0 10em 0; 
  height: 500px;
  width: 100%;
}

  .main-container h3{
    font-weight: 100;
    padding:10px;
    width: 100%;
    color:#333;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
  }

.team-list{
  overflow-y: scroll;
  margin:5px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
  display: inline-block;
  height: 500px;
  min-width: 250px;
  width: 20%;
  background-color: #fff;
}
.team-list img{
  position: relative;
  top:1em;
}

.data-result{
  height: 4em;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
  margin: 5px 0;
  padding:2px;
  overflow: hidden;
}
  .data-result p {
    font-size: 0.8em;
  }

.all-stages{
  padding: 0px;
  text-align: left;
  overflow-y: scroll;
  margin:5px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
  display: inline-block;
  height: 500px;
  width: 50%;
  background-color: #fff;
}

.all-stages ul{
  padding: 10px;
  margin:auto;
  width: 78%;
}
.all-stages li{
  text-align: left;
}

.latest-uploads{
  overflow: hidden;
  margin:5px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
  display: inline-block;
  height: 500px;
  width: 20%;
  background-color: #fff;
}

.active{
  display: none;
}

.menu{
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
  width: 20%;
  height: 150px;
  top:50px;
  margin-left: 79%;
  position: absolute;
  transition: all .2s ease-out;
}

@media screen and (max-width:600px){
  .menu{
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
    width: 50%;
    height: 150px;
    top:50px;
    margin-left: 50%;
    position: absolute;
    transition: all .2s ease-out;
  }
}

  .menu li{
    color:#fff;
    margin: 1em 0;
  }

.post-form{
  background: rgba(0,0,0,0.1);
  text-align: center;
  padding: 5px;
  width: 100%;
  overflow: hidden;
}

.post-form button{
  margin: 5px;
  display: inline-block;
  width: 91%;
  height: 40px;;
}

.post-form input{
  display: inline-block;
  height:50px; 
  width: 90%;
}

.forum-posts{
 text-align: center;
  padding: 5px;
  width: 95%;
  height: 64.7%;
  overflow-y: scroll;
}

.forum-posts li{
  font-size: 0.8em;
  text-align: left;
  margin: 7% 1%;
  height: 7em;
  overflow: hidden;
  padding: 15px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
}
.forum-posts p{
  padding: 5px;
  color:rgba(0,0,0,0.6);
  width: 40%;
  margin-left: 50%;
  font-size: 0.7em;
  text-align: right;
  clear: both;
}

@media screen and (max-width:1000px){
  .team-list{
    display: inline-block;
    overflow-y: scroll;
    height: 500px;
    min-width: 200px;
    width: 95%;
    background-color: #fff;
    margin:5px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
  }

  .team-list img{
    position: relative;
    top:1em;
  }
  .all-stages{
    text-align: left;
    display: inline-block;
    height: 500px;
    min-width: 200px;
    overflow-y: scroll;
    width: 95%;
    background-color: #fff;
    margin:5px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
  }
  
  .latest-uploads{
    display: inline-block;
    height: 500px;
    min-width: 200px;
    width: 95%;
    background-color: #fff;
    overflow-y: scroll;
    margin:5px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
  }
}

@keyframes pulse{
  0%{transform:scale(1.1)}
  50%{transform: scale(0.8)}
  100%{transform: scale(1.1)}
}